<div class="hospedaje-container">
    <h1>Hospedaje en Ciudad</h1>


    <!-- Ejemplo de hotel -->
    <div class="hotel">


        <h2>{{nombreHotel}}</h2>
        <div class="descripcion">
            <p>Maximo de personas {{habitacion.cantidad}}</p>
        </div>
        <div class="precio">
            Precio Noche Habitacion: {{habitacion.precio | currency:'USD':'symbol':'1.2-2'}} por noche
        </div>
        <div class="nivel">
           Nivel de habitación: {{habitacion.nivel}}
        </div>
        <div class="reserva">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" (change) = "actualizarRes()" name="fechaInicio" [(ngModel)]="reserva.fechaInicio">
            <br>
            <label for="fechaFin">Fecha de fin:</label>
            <input type="date" id="fechaFin" (change) = "actualizarRes()" name="fechaFin" [(ngModel)]="reserva.fechaSalida">
            <br>
            <span class="cantidad-dias">Cantidad de días: {{totalDias}}</span>
            <br>
            <label for="adultos">Adultos:</label>
            <input type="number" (change) = "actualizarRes()" id="adultos" name="adultos" min="1" max="10" [(ngModel)]="cantidadAdultos">
            <br>
            <label for="ninos">Niños:</label>
            <input type="number" (change) = "actualizarRes()" id="ninos"  name="ninos" min="0" max="10" [(ngModel)]="cantidadNinios">
            <br>
            <!-- <label for="habitacion">Nivel de Habitación:</label>
            <select id="habitacion" name="habitacion" [(ngModel)]="hotel.habitacion">
                <option value="estandar">Estándar</option>
                <option value="deluxe">Deluxe</option>
                <option value="suite">Suite</option>
            </select> -->
            <br>
            <label for="regimen">Régimen:</label>
            <select id="regimen" (change) = "actualizarRes()" name="regimen" [(ngModel)]="reserva.regimen">
                <option value="0" selected >Selecione</option>
                <option value="1">Desayuno</option>
                <option value="2">Media Pensión</option>
                <option value="3">Pensión Completa</option>
            </select>
            <br>
            <button (click)="reservar()">Reservar</button>
            <button (click)="borrar()">Borrar</button>
            <div>
               Total: {{reserva.precio | currency:'USD':'symbol':'1.2-2'}}
            </div>
        </div>
    </div>
</div>