<header>
  <div class="header">
    <div>
      <div class="text-end">
        <div *ngIf="!isLogged; then nologged else logged"></div>

        <ng-template #nologged>
          <div class="text-end">
            <button type="button" routerLink="/login" class="btn btn-outline-light
          me-2">Login</button>
            <button type="button" routerLink="/cliente" class="btn btn-warning">Registrarse</button>
          </div>
        </ng-template>

        <ng-template #logged>
          <button type="button" (click)="logout()" class="btn btn-warning">
            Sign-out
          </button>

          <button type="button" routerLink="/carrito"  class="btn btn-primary">
            Carrito <i class="bi bi-cart-fill"></i>
          </button>

        </ng-template>
      </div>
      <!-- <a href="cerrar_sesion.html">Cerrar Sesión</a>
      <a href="ingresar.html">Ingresar</a> -->
    </div>
    <!-- <button>Botón de Ejemplo</button> -->
  </div>
</header>

<router-outlet></router-outlet>


<footer>
  <p>Universidad del Quindío - 2023</p>
</footer>