<body>
    <div class="welcome-text">
        
        <p><div style="text-align:center"><b><font color="#000000">Bienvenido a la agencia de viajes Los Mijitos</font></b></div> 
        <div style="text-align:center"><img src="logo.png" width="99" height="120" alt="" title="" /></div>
        <p><div style="text-align:center">¿Qué quieres hacer el día de hoy?</div>
    </div>

    <form>
        <div class="options-container">
            <button class="option-button" onclick="irAHospedaje()">
                <a href="hospedaje.html"><img src="hospedaje.png" alt="Hospedaje"></a>
                <font color="#000000"><b>Hospedaje</b></font>
            </button>
            <button class="option-button" onclick="irAPaquete()">
                <img src="paqueteturistico.png" alt="Paquete Turístico">
                <font color="#000000"><b>Paquete Turístico</b></font>
            </button>
            <button class="option-button" onclick="irATienda()">
                <img src="tienda.png" alt="Tienda">
                <font color="#000000"><b>Tienda</b></font>
            </button>
            <button class="option-button" onclick="irAAlquiler()">
                <img src="renta.png" alt="Alquiler de Vehículos">
                <font color="#000000"><b>Alquiler de Vehículos</b></font>
            </button>
        </div>
    </form>


</body>