<body>
    <div class="tienda-container">
        <h1>Tienda</h1>

        <div class="articulos">
            <!-- Ejemplo de artículo 1 -->
            <div class="articulo">
                <img src="artesania.jpeg" alt="Producto 1" style="max-width: 100%; height: auto;">
                <h2>Recipientes </h2>
                <div class="descripcion">
                    <p>Recipiente para </p>
                </div>
                <div class="precio">
                    Precio: $50
                </div>
                <button class="carrito-button" onclick="agregarAlCarrito(1)">Agregar al Carrito</button>
            </div>

            <!-- Ejemplo de artículo 2 -->
            <div class="articulo">
                <img src="billetera.jpg" alt="Producto 2" style="max-width: 100%; height: auto;">
                <h2>Billetera</h2>
                <div class="descripcion">
                    <p>Billetera de cuero artesanal</p>
                </div>
                <div class="precio">
                    Precio: $30
                </div>
                <button class="carrito-button" onclick="agregarAlCarrito(2)">Agregar al Carrito</button>
            </div>

            <!-- Ejemplo de artículo 3 -->
            <div class="articulo">
                <img src="bolso.jpeg" alt="Producto 1" style="max-width: 100%; height: auto;">
                <h2>Bolso en tela</h2>
                <div class="descripcion">
                    <p>Bolso para pasear, cocido en tela de ovejo</p>
                </div>
                <div class="precio">
                    Precio: $50
                </div>
                <button class="carrito-button" onclick="agregarAlCarrito(1)">Agregar al Carrito</button>
            </div>

            <!-- Ejemplo de artículo 4 -->
            <div class="articulo">
                <img src="vajilla.jpg" alt="Producto 2" style="max-width: 100%; height: auto;">
                <h2>Vajilla</h2>
                <div class="descripcion">
                    <p>Vajilla de porcelana dibujado a mano</p>
                </div>
                <div class="precio">
                    Precio: $30
                </div>
                <button class="carrito-button" onclick="agregarAlCarrito(2)">Agregar al Carrito</button>
            </div>
        </div>
    </div>
</body>