<div id="formContent" class="container">
    <h1>Registro de articulo</h1>
    <div class="card p-5">
        <form #f="ngForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">id: </label>
                <div class="col-sm-10">
                    <input #id="ngModel" class="form-control" [ngClass]="id.invalid &&
                     (id.dirty || id.touched) ? 'is-invalid' : ''" type="text" name="nombre" [(ngModel)]="articulo.id"
                        required maxlength="50" />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #marca="ngModel" class="form-control" [ngClass]="marca.invalid &&
    (marca.dirty || marca.touched) ? 'is-invalid' : ''" name="descripcion" [(ngModel)]="articulo.nombre" required>

                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Detalle: </label>
                <div class="col-sm-10">
                    <input #color="ngModel" class="form-control" [ngClass]="color.invalid &&
(color.dirty || color.touched) ? 'is-invalid' : ''" type="text" name="unidades" [(ngModel)]="articulo.detalle"
                        required />
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Precio: </label>
                <div class="col-sm-10">
                    <input #precio="ngModel" class="form-control" [ngClass]="precio.invalid &&
                (precio.dirty || precio.touched) ? 'is-invalid' : ''" type="number" name="precio"
                        [(ngModel)]="articulo.precio" required maxlength="50" />
                </div>
            </div>

            
                <div  class="mb-3 row">
                  <div class="col-md-4" *ngFor="let item of articulo.imagenes;  index as i">
                    <div class="card">

                        <button (click)="eliminarImagen(item.ID)" class="btn btn-danger boton-eliminar">
                            <i class="fas fa-trash"></i>
                          </button>

                      <img src="{{item.RUTA}}" class="card-img-top img-fluid"  alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{"Imagen" + (i+1)}}</h5>
                        <!-- <p class="card-text">{{item.description}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              

            


            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Imagen: </label>
                <div class="col-sm-7">
                    <input type="file" class="form-control" name="imagenes" (change)="onFileChange($event)" multiple />
                </div>
                <div class="col-sm-3">
                    <button type="submit" [disabled]="archivos == null" class="btn btn-primary"
                        (click)="subirImagenes()">

                        <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir imágenes
                    </button>
                </div>
            </div>

            <button type="submit" [disabled]="f.invalid" class="btn btn-sm1 btn-outline-primary me-2"
                (click)="!esEdicion ? crearArticulo() : editarArticulo()"> <i class="fa-solid
                {{esEdicion ? 'fa-pencil' : 'bi bi-clipboard-plus'}} me-1"></i>{{ esEdicion ? 'Editar' : 'Crear' }}
                Articulo</button>


            <button type="submit" class="btn btn-sm1 btn-outline-primary" routerLink="/principalAdmin">
                Volver <i class="bi bi-arrow-bar-left"></i></button>
            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
</div>
